:where(.css-dev-only-do-not-override-18iikkb).ant-table-wrapper .ant-table-cell, :where(.css-dev-only-do-not-override-18iikkb).ant-table-wrapper .ant-table-thead>tr>th, :where(.css-dev-only-do-not-override-18iikkb).ant-table-wrapper .ant-table-tbody>tr>th, :where(.css-dev-only-do-not-override-18iikkb).ant-table-wrapper .ant-table-tbody>tr>td, :where(.css-dev-only-do-not-override-18iikkb).ant-table-wrapper tfoot>tr>th, :where(.css-dev-only-do-not-override-18iikkb).ant-table-wrapper tfoot>tr>td {
    position: relative;
    padding: 10px 16px;
    overflow-wrap: break-word;
}
.height-set-Description{
    padding-top: 10px;
}
:where(.css-dev-only-do-not-override-3mqfnx).ant-btn >span {
    display: inline-block;
    color: white;
}

/*  */
:where(.css-dev-only-do-not-override-3mqfnx).ant-empty-normal {
    margin-block: 10%;
    color: rgba(0, 0, 0, 0.25);
}
.skeleton-line {
    height: 23px;
    width: 190%; 
    /* background: linear-gradient( #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%); */
    /* background-size: 200% 100%; */
    animation: loading 1.5s infinite;
}
